@media only screen and (min-width: 450px) {
    .companieContactInfo p {
        font-size: .9rem;
    }

    .bussnessInfo {
        grid-template-columns: 1fr 2fr;
    }

    .companieImgDiv {
        margin-right: 20px;
    }

    .companieImgDiv img {
        width: 80px;
    }

    .banner h1 {
        right: 35%;
    }

    .btn-join {
        width: 100px;
    }
}

@media only screen and (min-width: 635px) {
    .btn-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }


    .companieImgDiv {
        margin-right: 0px;
    }

    .companieImgDiv img {
        width: 60px;
    }

    .companieContactInfo p {
        font-size: .8rem;
    }





    .divWeatheDeateils {
        /* justify-content: center; */
        place-items: center;
    }

    .cards-events {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }

    .companie-spotlights {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (min-width: 768px) {

    .companie-logo span {
        font-size: 1.5rem;
    }

    .btn-humburguer {
        display: none;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        box-shadow: none;
        top: 0px;
        right: 0px;
        margin-top: 0px;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li {
        background-color: transparent;
    }

    header nav ul a {
        color: #17202A;

    }

    .active {
        background-color: transparent;
        border-bottom: 1px solid #e6a93a;

    }

    .link-color {
        color: #e6a93a;
    }

    header nav ul a:hover {
        color: #e6a93a;
    }

    main h1 {
        font-size: 2rem;
    }

    .switch button {
        width: 130px;
    }

    .btn-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        justify-content: space-around;
        align-items: center;
    }

}